

<% @song_title = "Show Artist" %>
<%= link_to("<< Back to List", artists_path, :class => 'back-link') %>

<div class="artists show">
  <h2>Detail of Artist</h2>

  <table summary=" Detail Artist view">
    <tr>
      <th>Name</th>
      <td><%= @artist.name %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= @artist.age %></td>
    </tr>
    <tr>
      <th>nationality</th>
      <td><%= @artist.nationality %></td>
    </tr>
    <tr>
      <th>Photo</th>
      <td><%=image_tag @artist.image_url %></td>
    </tr>

  </table>

</div>
