

<table summary="Song form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:song_name) %></td>
  </tr>
  <tr>
    <th>Genre</th>
    <td><%= f.text_field(:genre) %></td>
  </tr>
  <tr>
    <th>Song Duration</th>
    <td><%= f.text_field(:duration) %></td>
  </tr>
  <tr>
    <th>Song Link</th>
    <td><%= f.text_field(:song_url) %></td>
  </tr>
  <tr>
    <th>Artist</th>
    <td><%= f.object.artist.name %></td>
  </tr>

</table>
