

<%= link_to("<< Back to Artists", artists_path, :class => 'back-link') %>

<div class="Songs index">
  <h2>Songs</h2>

  <%= link_to("Add New Song", new_song_path(:artist_id => @artist.id), :class => 'action new') %>

  <table class="listing" summary="Song list">
    <tr class="header">

      <th>Artist ID</th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
    <% @songs.each do |song| %>
    <tr>

      <td><%= song.artist_id %></td>
      <td><%= song.genre %></td>
      <td class="actions">
        <%= link_to("Show", song_path(song, :artist_id => @artist.id), :class => 'action show') %>
        <%= link_to("Edit", edit_song_path(song, :artist_id => @artist.id), :class => 'action edit') %>

      </td>
    </tr>
    <% end %>
  </table>
</div>
