

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="page-header">Song List</h1>

    <% if notice.present? %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <%= render "form", song: @song %>

    <hr />
    <table class="table table-striped" id="songList">
          <%= render "form", song: @song %>
        </table>

        <div class="footer">
          Song: <span id="todo-count">1</span> •
          Done: <span id="completed-count">0</span> •
          Total: <span id="total-count">1</span> •
          <a href="#" id="clean-up">Clean up</a>
        </div>

</div>


<!-- <%= link_to("<< Back to Artists", artists_path, :class => 'back-link') %>
<table class="table table-striped" id="Songs List">
      <%= render @songs(:artist_id => @artist.id) %>
    </table>

    <div class="footer">
      Song: <span id="todo-count">1</span> •
      Done: <span id="completed-count">0</span> •
      Total: <span id="total-count">1</span> •
      <a href="#" id="clean-up">Clean up</a>
    </div>

</div>
<div class="Songs index">
  <h2>Songs</h2>

  <%= link_to("Add New Song", new_song_path(:artist_id => @artist.id), :class => 'action new') %>

  <table class="listing" summary="Song list">
    <tr class="header">

      <th>Artist ID</th>
      <th>Song Name </th>
      <th>Genre</th>
      <th>Actions</th>
    </tr>
    <% @songs.each do |song| %>
    <tr>

      <td><%= song.artist_id %></td>
      <td><%= song.song_name %></td>
      <td><%= song.genre %></td>
      <td class="actions">
        <%= link_to("Show", song_path(song, :artist_id => @artist.id), :class => 'action show') %> -->
        <!-- <%= link_to("Edit", edit_song_path(song, :artist_id => @artist.id), :class => 'action edit') %> -->
        <!-- <%= link_to("Delete", song_path(song, :artist_id => @artist.id), :class => 'action delete') %> -->
        <!-- <%= link_to "Delete", song_path(song, :artist_id => @artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </table>
</div> -->
