


<h1>Song Details</h1>


<p>Song Title: <%= @song.song_name %></p>
<p>Genre: <%= @song.genre.capitalize %></p>
<p>Duration of song: <%= @song.duration %></p>
<%= video_tag @song.song_url, :controls => true %>
</br>
<%= link_to "[Delete]", song_path(@song.id), method: :delete, data: { confirm: "Are you sure?" } %>
<!-- <p>Artist ID : <%= @song.artist_id %></p>  -->
