

<%= link_to("<< Back to List", songs_path(:artist_id => @artist.id), :class => 'back-link') %>

<div class="Songs show">
  <h2>Show song</h2>

  <table summary="Song detail view">
    <tr>
      <th>Song Name</th>
      <td><%= @song.song_name %></td>
    </tr>
    <tr>
      <th>Artist ID</th>
      <td><%= @song.artist_id %></td>
    </tr>
    <tr>
      <th>Song Genre</th>
      <td><%= @song.genre %></td>
    </tr>
    <tr>
      <th>Duration</th>
      <td><%= @song.duration %></td>
    </tr>
    <tr>
      <th>Enjoy the song here </th>
      <td><%= video_tag @song.song_url, :controls => true%></td>
    </tr>
    <!-- <tr>
      <th>Created</th>
      <td><%= @song.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @song.updated_at %></td>
    </tr> -->
  </table>

</div>
